*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #eeeeee;
}

.modal-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content iframe {
  aspect-ratio: 16/9;
}
.content p {
  font-size: 16px;
}
.my-confetti canvas {
  width: calc(100vw - 20px);
}
@media (max-width: 600px) {
  #logo {
    width: 120px;
  }
}
@media (max-width: 400px) {
  #logo {
    width: 100px;
  }
}